.userInfo{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 5em;
}   

.componenetInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(3, 205, 17);
    color: white;
    padding: 1em 3em;
}

.componenetInfo p {
    margin: 0;
    font-size: 30px;
}

.componenetInfo h2 {
    font-size: 200px;
    margin: -30px;
}




.comOnA{
    margin-top: 62em;
}



.call-elementOn{
    position: fixed;
    top: -175px;
}

.currenAtCall{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;

}
.currenAtCall p {
    margin: 0;
}

.callComponenet{
    height: 160px;
    width: 700px;
    background-color: rgb(238, 238, 238);
}

.onCallingComponenets{
    display: flex;
    align-items: center;
    gap: 1em;
}

.onCallingComponenets button {
    margin: 0;
    height: 80px;
}

.callinCurrent{
    display: flex;
    align-items: center;
    gap: 1em;
    text-align: center;
    height: 160px;
    width: 935px;
}

.contentHandlerDiv{
    display: flex;
    width: 300px;
}


.calling-componenet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -3em 2em;
}

.calling-componenet h1 {
    color: black;
    font-size:80px;
}

.calling-componenet h2{
    font-size: 40px;
    color: rgb(149, 149, 149);
}

.calling-componenet button {
    margin: 0;
}



.calling {
    height:160px;
    width: 700px;
    background-color: rgb(237, 237, 237);
}



.Timer{
    height: 160px;
    width: 220px;
    background-color: rgb(0, 119, 255);
    color: rgb(255, 255, 255);
}

.Timer h1 {
    font-size: 100px;
    margin: 0px 0px;
}


.queuesON{
    height: 800px;
    width: 940px;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
}




.queuesInLineContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 3em;
    background-color: rgb(232, 232, 232);
    color: rgb(0, 0, 0);
    height: 200px;
    width: 680px;
    
    margin-bottom: 1em;
}

.queuesInLineContent h1{
    font-size: 200px;
    margin-bottom: 1em;
}

.queuesInLineContent h2 {
    font-size: 50px;
}

.queuesContent{
    display: flex;
    align-items: center;
}

.overContet{
    overflow: auto;
    height: 900px;
}

.overContet::-webkit-scrollbar {
    width: 10px;
}
.overContet::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

.overContet::-webkit-scrollbar-thumb {
    background: rgb(227, 227, 227);
}
.ButtonsInteraction{
    margin-right: 1.2em;
}

.ButtonsInteraction button {
   margin-top: 6px;
   margin-bottom: 0.9em;
    height: 201px;
    background-color: rgb(231, 231, 231);
    font-size: 25px;
    color: rgb(3, 3, 3);
    margin-left: 0.4em;
}

.ButtonsInteraction button:hover{
    cursor: pointer;
    background-color: rgb(0, 162, 255);
    color: white;
}

